// セクション毎にスタイルを当てていく

@charset "utf-8";

.fv {
  @include mq() {
    position: relative;
  }
  &__pic {
    background-repeat: no-repeat;
    height: calc((100vh - 60px) / 3);
    background-size: cover;
    &--01 {
      background-image: url(../image/common/kv-sp01@2x.jpg);
      @include mq() {
        background-image: url(../image/common/kv-tab@2x.jpg);
        height: calc(100vh - 60px);
      }
      @include mq(xl) {
        background-image: url(../image/common/kv-pc@2x.jpg);
      }
    }
    &--02 {
      background-image: url(../image/common/kv-sp02@2x.jpg);
      background-position: center;
      @include mq() {
        display: none;
      }
    }
  }
  &__content-box {
    height: calc((100vh - 60px) / 3);
    @include mq() {
      height: auto;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
    @include mq(xl) {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: 5%;
    }  
    .fv-box {
      height: 100%;
      background-color: $color-fv-box__background;
      color: $color-fv-box__text;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mq() {
        padding: 24px 40px;
      }
      &__title {
        font-size: 1.2rem;
        @include mq() {
          text-align: left;
          font-size: 2.4rem;
          margin-bottom: 1.6rem;
        }
        @include mq(xl) {
          font-size: 3.2rem;
        }
      }
      &__text {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
        @include mq() {
          text-align: left;
          font-size: 4.8rem;
          margin-bottom: 1.6rem;
        }
      }
      &__btns {
        display: flex;
      }
      &__btn {
        width: 90%;
        margin: 0 auto;
        padding: 0.6em 0;
        @include mq(sm) {
          width: 50%;
        }
        @include mq() {
          width: 300px;
          margin: 0 16px 0 0;
        }
        @include mq(xl) {
          font-size: 2.2rem;
        }
      }
      &__btn.btn--back {
        display: none;
        @include mq() {
          display: block;
        }
      }
    }
  }
}

.introduce {
  background-color: $color-introduce-section__background;
  padding-bottom: 120px;
  &__content {
    margin: 32px 0;
    @include mq() {
      margin: 32px 0 80px;
    }
    @include mq(xl) {
      margin: 32px 0 120px;
    }
    .introduce-box {
      position: relative;
      &__text {
        font-weight: 600;
        width: 80%;
        margin-left: auto;
        line-height: 56px;
        @include mq() {
          width: 55%;
        }
        @include mq(xl) {
          padding-top: 80px;
        }
      }
      &__image {
        opacity: 0;
        width: 80%;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        @include mq(sm) {
          width: 60%;
        }  
        @include mq() {
          top: 0;
          transform: initial;
          width: 70%;
        }
        @include mq(lg) {
          width: 40%;
          z-index: initial;
        }
      }
    }
    &:nth-of-type(even) .introduce-box {
      &__text {
        margin-left: 0;
        margin-right: auto;
        @include mq(xl) {
          padding-top: 80px;
        }
      }
      &__image {
        right: 0;
        top: 70%;
        @include mq() {
          top: 30%;
          width: 60%;
        }
        @include mq(lg) {
          width: 40%;
          z-index: initial;
        }
      }
    }
  }
}

.part-of-item {
  &__list {
    width: 90%;
    margin: 0 auto;
    @include mq(sm) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 300px;
    }
    @include mq(md) {
      max-width: 700px;
    }
    @include mq(lg) {
      max-width: 900px;
    }
    @include mq(xl) {
      max-width: 1100px;
    }
    @include mq(xxl) {
      max-width: 1800px;
    }
    .topitem-card {
      color: $color-item-list__text;
      width: 100%;
      max-width: 300px;
      margin: 0 auto 64px;
      @include mq(sm) {
        padding: 0 8px;
        margin: 0 0 64px;
      }
      @include mq(lg) {
        padding: 0 16px;
        margin-bottom: 80px;
      }
      @include mq(xl) {
        width: auto;
      }
      &__image {
        margin-bottom: 12px;
      }
      &__title {
        text-align: center;
        margin-bottom: 12px;
      }
      &__price {
        width: 180px;
        margin: 0 auto;
        font-size: 1.2rem;
        margin-bottom: 16px;
      }
      &__btn {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  &__btn {
    margin-bottom: 40px;
    @include mq(sm) {
      width: 50%;
      margin: 0 auto 120px;
    }  
    @include mq(lg) {
      width: 30%;
      margin: 0 auto 120px;
    }  
  }
}

.member {
  &__list {
    .profile-card {
      margin-bottom: 64px;
      @include mq(lg) {
        margin-bottom: 125px;
      }
      @include mq() {
        display: flex;
      }
      &__contents {
        @include mq() {
          width: 60%;
        }
        @include mq(lg) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      &__tab-image {
        z-index: 999;
        display: none;
        @include mq() {
          display: block;
          width: 40%;
        }
        @include mq(lg) {
          display: none;
        }
      }
      &__pc-image {
        z-index: 999;
        display: none;
        @include mq(lg) {
          display: block;
          width: 40%;
        }
      }
      &__position {
        letter-spacing: 3px;
        @include mq() {
          padding: 16px 56px;
        }
      }
      &__name {
        font-size: 3.8rem;
        letter-spacing: 4px;
        text-transform: uppercase;
        border-bottom: 3px solid $color-profile-card__border;
        margin-bottom: 28px;
        @include mq() {
          padding-bottom: 32px;
          margin: 0 56px 28px;
        }
        @include mq(lg) {
          font-size: 4.8rem;
        }
        @include mq(xl) {
          font-size: 5.8rem;
        }
      }
      &__image {
        z-index: 999;
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        @include mq() {
          display: none;
        }
      }
      &__text {
        z-index: 50;
        opacity: 0;
        line-height: 2.5;
        width: 100vw;
        padding: 32px 16px;
        background-color: $color-profile-card__background;
        margin: 0 calc(50% - 50vw) 32px;
        @include mq() {
          width: auto;
          margin: 0 0 32px;
        }
        @include mq(lg) {
          padding: 32px 56px;
        }
      }
      &__btn {
        width: 75%;
        max-width: 400px;
        margin: 0 auto;
        @include mq() {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

.strength {
  .section-inner {
    max-width: 1000px;
  }
  &__list {
    .strength-item {
      padding: 16px 0;
      border-top: 1px solid $color-strength-item__border;
      border-bottom: 1px solid $color-strength-item__border;
      margin-bottom: 88px;
      @include mq() {
        display: flex;
        padding: 16px 32px;
      }
      &__image {
        margin-bottom: 16px;
        width: 95%;
        margin: 0 auto;
      }
      &__text {
        padding: 16px 0;
        width: 95%;
        margin: 0 auto;
        @include mq() {
          margin-left: 24px;
          padding: 0;
          font-size: 1.8rem;
        }  
      }
    }
  }
}


.parallax-window {
  min-height: 300px;
  width: 100%;
  background: transparent;
  margin: 200px 0 80px;
}

.parallax-slider {
  top: 0;
  left: 0;
}

.new {
  margin-bottom: 80px;
  .section-inner {
    max-width: 1200px;
  }
  &__list {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 40px;
    @include mq() {
      display: flex;
      flex-wrap: wrap;
    }
    .new-item {
      margin-bottom: 32px;
      @include mq() {
        width: calc((100% - 16px) / 2);
        margin-right: 16px;
        @include mq(xl) {
          width: calc((100% - 32px) / 3);
          &:last-child {
            margin-right: 0px;
          }
        }  
        &:nth-of-type(even) {
          margin-right: 0;
          @include mq(xl) {
            margin-right: 16px;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        .new-item__image {
          overflow: hidden;
          img {
            transition: 0.4s;
          }
        }
        .new-item__image img.scale {
          transform: scale(1.3);
        }
        .new-item__label {
          line-height: 1.7;
          font-size: 1.2rem;
          padding: 1em 0;
        }
      }
    }
  }
  &__btns {
    width: 90%;
    margin: 0 auto;
    @include mq() {
      display: flex;
      justify-content: center;
    }
    .btn {
      @include mq() {
        width: 35%;
      }
    }
    .btn--ok {
      margin-bottom: 24px;
      @include mq() {
        margin-bottom: 0;
        margin-right: 24px;
      }  
    }
  }
}

.products {
  &__list {
    max-width: 400px;
    margin: 0 auto;
    @include mq(lg) {
      max-width: 900px;
    }
    .product-card {
      margin-bottom: 180px;
      display: grid;
      grid-template-rows: 166px auto auto 50px;
      grid-template-columns: 166px 1fr;
      @include mq(lg) {
        grid-template-rows: 80px 24px 130px 50px;
        grid-template-columns: 400px 1fr;
        }  
      &__image {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        @include mq(lg) {
          grid-row: 1 / 5;
          grid-column: 1 / 2;
        }
      }
      &__title {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        font-size: 1.6rem;
        text-align: center;
        padding: 1em 0;
        @include mq(lg) {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          text-align: left;
          padding: 2em;
        }
      }
      &__label {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        width: 200px;
        margin: 0 auto 16px;
        @include mq(lg) {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
          padding: 0;
          margin: 0;
          margin-left: 2em;
        }
      }
      &__text {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        font-size: 1.4rem;
        padding: 0.5em;
        @include mq(lg) {
          grid-row: 3 / 4;
          grid-column: 2 / 3;
          padding: 2em;
        }
      }
      &__btn {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
        width: 80%;
        margin: 0 auto;
        @include mq(lg) {
          grid-row: 4 / 5;
          grid-column: 2 / 3;
          width: 60%;
        }
      }
    }
  }
}

.detail {
  &__heading {
    font-size: 1.8rem;
    padding: 0;
    margin-bottom: 16px;
    text-align: left;
    @include mq() {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 40px;
      @include mq(lg) {
        font-size: 3.2rem;
      }
    }
  }
  .detail__box {
    max-width: 1200px;
    margin: 0 auto;
    @include mq() {
      display: flex;
      margin-bottom: 80px;
      @include mq(lg) {
        margin-bottom: 120px;
      }
    }
  }
  &__image01 {
    @include mq() {
      width: 50%;
    }
  }
  .detail__right {
    @include mq() {
      width: 50%;
    }
    @include mq(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      font-size: 2.4rem;
    }
  }
  &__text01 {
    padding: 2em 1em 1em;
    @include mq() {
      padding: 2em 3em 1em;
    }
  }
  &__price {
    text-align: center;
    font-size: 2.4rem;
    color: $color-detail__price-text;
    margin-bottom: 24px;
  }
  &__btn {
    margin-bottom: 120px;
    @include mq() {
      width: 50%;
      margin: 0 auto;
    }
  }
  .push {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    .detail__text02 {
      width: 300px;
      padding: 0.5em;
      @include mq() {
        padding: 2em;
        font-size: 2.4rem;
      }
    }
    .detail__image02 {
      margin-left: auto;
      &--pc {
        display: none;
        @include mq() {
          display: block;
          width: 50%;
        }
      }
      &--sp {
        @include mq() {
          display: none;
        }
      }
    }
  }
}

.detail-more {
  background-color: $color-detail-more__background;
  padding-bottom: 120px;
  &__title {
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
    @include mq() {
      font-weight: bold;
    }
  }
  &__label {
    max-width: 200px;
    width: 50%;
    padding: 0;
    margin: 0 auto 30px;
  }
  &__image {
    margin-bottom: 40px;
    max-width: 544px;
    margin: 0 auto 45px;
    @include mq() {
      margin-bottom: 60px;
    }
  }
  &__btn {
    max-width: 400px;
    width: 50%;
    margin: 0 auto;
  }
}

.carousel {
  margin-bottom: 120px;
  @include mq() {
    margin-bottom: 240px;
  }
  .section-inner {
    .swiper-custom-parent {
      position: relative;
      .swiper-container {
        width: 80%;
        height: auto;
        .swiper-slide {
          height: 20vh;
          img {
            object-fit: cover; /* IE: not support */
            width: 100%;
            height: 100%;
          }
        }
      }
      .swiper-button-prev {
        outline: none;
        position: absolute;
        left: 20px;
        &::after {
          font-size: 3.5rem;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f060";
          color: $color-carousel__text;
        }
      }
      .swiper-button-next {
        outline: none;
        position: absolute;
        right: 20px;
        &::after {
          font-size: 3.5rem;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f061";
          color: $color-carousel__text;
        }
      }
    }
  }
}

.cart {
  color: #707070;
  &__list {
    max-width: 400px;
    margin: 0 auto 16px;
    @include mq(lg) {
      max-width: 1200px;
    }
    .cart-item {
      display: grid;
      grid-template-rows: 166px 0.5fr 0.5fr;
      grid-template-columns: 166px 1fr;
      padding: 3.2rem 0;
      border-top: 1px solid #707070;
      &:last-child {
        border-bottom: 1px solid #707070;
      }
      @include mq(lg) {
        display: flex;
        width: 100%;
      }
      &__image {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        @include mq(lg) {
          width: 20%;
        }  
      }
      &__title {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.8rem;
        @include mq(lg) {
          width: 35%;
          padding: 0.8rem 3rem 0.8rem 2rem;
        }  
      }
      &__kazu {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        padding: 1.5rem;
        @include mq(lg) {
          width: 20%;
          display: flex;
          align-items: center;
        }
        input {
          width: 65px;
          height: 43px;
          padding-right: 1rem;
          margin-right: 10px;
          text-align: right;
        }
      }
      &__price {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.8rem;
        padding-left: 1.6rem;
        @include mq(lg) {
          width: 15%;
        }  
      }
      &__delete {
        grid-row: 2 / 4;
        grid-column: 3 / 4;
        min-width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include mq(lg) {
          width: 10%;
        }
        input {
          vertical-align: middle;
          width: 18px;
          height: 18px;
          position: relative;
          top: -3px;
        }
      }
    }
  }
  &__footer {
    @include mq(lg) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &__sum {
    max-width: 400px;
    margin: 0 auto;
    text-align: right;
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
  &__operation {
    font-size: 1.4rem;
    margin: 0 auto 80px;
    @include mq(lg) {
      font-size: 2rem;
    }
  }
  &__btns {
    width: 90%;
    margin: 0 auto 117px;
    flex-direction: row-reverse;
    @include mq() {
      display: flex;
      justify-content: center;
    }
    .btn {
      @include mq() {
        width: 35%;
      }
    }
    .btn--ok {
      margin-bottom: 24px;
      @include mq() {
        margin-bottom: 0;
        margin-left: 24px;
      }  
    }
  }
}

.login-background {
  background-image: url(/assets/image/common/kv-sp02@2x.jpg);
  padding: 2.5rem 0 6.5rem;
  height: 600px;
  background-size: cover;
  .login-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4rem 2rem;
    max-width: 900px;
    @include mq() {
      margin: 0 auto;
      padding: 4rem 8rem;
    }
    &__title {
      margin-bottom: 40px;
    }
    .input-box {
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 24px;
    }
    .submit {
      input {
        width: 100%;
        justify-content: center;
        @include mq() {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}

.form {
  color: #707070;
  form {
    max-width: 800px;
    margin: 0 auto;
    .form-title {
      font-weight: normal;
      text-align-last: left;
      font-size: 1.4rem;
      padding-left: 5%;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      margin-bottom: 40px;
      @include mq(lg) {
        margin-left: initial;
        margin-right: initial;
        font-size: 1.6rem;
        margin-bottom: 60px;
      }
    }
    .input-box {
      margin-bottom: 48px;
      max-width: 600px;
      @include mq(lg) {
        margin: 0 auto 48px;
      }
      .postal1 {
        text-align: center;
        width: 60px;
        margin-right: 8px;
      }
      .postal2 {
        text-align: center;
        margin-left: 4px;
        width: 80px;
      }
    }
    .radio-box {
      @include mq(lg) {
        margin-bottom: 80px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  &__btns {
    width: 90%;
    margin: 0 auto 117px;
    flex-direction: row-reverse;
    @include mq(lg) {
      margin-top: 80px;
    }
    @include mq() {
      display: flex;
      justify-content: center;
    }
    .btn {
      @include mq() {
        width: 35%;
      }
    }
    .btn--ok {
      width: 100%;
      margin-bottom: 24px;
      @include mq() {
        width: 35%;
        margin-bottom: 0;
        margin-left: 24px;
      }  
    }
  }
}

.form-check {
  .user-check-list {
    max-width: 600px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    &__title {
      width: 40%;
      padding: 2rem;
    }
    &__data {
      width: 60%;
      padding: 2rem;
    }
  }
}