@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: "Times New Roman", 游明朝体, "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  -webkit-animation-name: onAutoFillStart;
          animation-name: onAutoFillStart;
  -webkit-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}

.section-heading {
  font-size: 2.4rem;
  text-align: center;
  padding: 16px 0;
  margin: 0 0 40px;
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 3.2rem;
    margin: 48px 0 80px;
  }
}

.section-inner {
  padding-top: 40px;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
}

.btn {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5em 1em;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid transparent;
}

.btn--ok {
  color: #fff;
  background-color: #479E9F;
  border-color: transparent;
}

.btn--ok:hover {
  background-color: #72bfc0;
}

.btn--back {
  color: #fff;
  background-color: #333;
  border-color: transparent;
}

.btn--back:hover {
  background-color: #595959;
}

.btn--detail {
  color: #707070;
  background-color: transparent;
  border-color: #707070;
  padding: 0.7em 0;
  position: relative;
}

.btn--detail::before {
  content: '';
  width: 30%;
  position: absolute;
  top: 50%;
  left: -20%;
  border-bottom: 1px solid #707070;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn--detail:hover::before {
  left: -4%;
}

.btn--operationcart {
  color: #479E9F;
  background-color: #fff;
  border-color: #479E9F;
  border-width: 2px;
  font-weight: bold;
}

.btn--operationcart:hover {
  background-color: #f2f2f2;
}

.label {
  text-align: center;
}

.label--price {
  color: #fff;
  background-color: #978332;
  padding: 0.3em;
  font-weight: bold;
  letter-spacing: 1px;
}

.label--current {
  color: #978332;
  background-color: #fff;
  border: 2px solid #978332;
}

.label--not-active {
  color: #fff;
  background-color: #e3e3e3;
}

.anchor-sm {
  padding-top: 60px;
  margin-top: -60px;
}

.anchor-md {
  padding-top: 120px;
  margin-top: -120px;
}

.anchor-lg {
  padding-top: 160px;
  margin-top: -160px;
}

.required {
  font-size: 1.2rem;
  color: #ff5d5d;
  display: inline-block;
  margin-left: 8px;
}

.input-box {
  height: 40px;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
}

.input-box__label {
  border-radius: 12px;
  position: absolute;
  z-index: 801;
  top: -18px;
  left: -11px;
  padding: 0 1em;
  border: none;
}

.input-box__input {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.6rem;
  padding: 0 0.5em;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #707070;
}

.input-box__input:focus {
  outline: none;
}

.show-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-box .show-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  padding: 5px 8px;
  border-radius: 5px;
  background: rgba(229, 229, 229, 0);
}

.btn-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.btn-label {
  font-size: 18px;
  cursor: pointer;
}

.input-box .btn-label {
  width: 30px;
  text-align: center;
}

.radio-box {
  position: relative;
  margin-bottom: 30px;
  z-index: 0;
  border: 1px solid #ddd;
  padding: 1.5em 1em 1em;
  background-color: #fff;
}

.radio-box__label {
  display: inline-block;
  background-color: #fff;
  border-radius: 12px;
  padding: 0 1em;
  z-index: 801;
  position: absolute;
  top: -8px;
  left: 16px;
}

.radio-box__item {
  display: inline-block;
  margin-right: 8px;
}

.radio-box__radio {
  margin-bottom: 8px;
}

.registration-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .registration-steps {
    padding-bottom: 10%;
  }
}

.registration-steps_line {
  background: #bfbfbf;
  width: 10%;
  height: 1px;
  display: none;
}

@media screen and (min-width: 768px) {
  .registration-steps_line {
    display: block;
  }
}

.registration-steps_step {
  position: relative;
  width: 25%;
}

.registration-steps_step > .num {
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bfbfbf;
}

.registration-steps_step > .text {
  font-weight: bold;
  width: 100%;
  color: #bfbfbf;
  position: absolute;
  left: 15%;
  top: 30px;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .registration-steps_step > .text {
    font-size: 1.6rem;
  }
}

.registration-steps_step.-active > .num {
  border-color: #978332;
  color: #978332;
}

.registration-steps_step.-active > .text {
  color: #978332;
  font-weight: 700;
}

.header {
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #333;
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .header-inner .product-logo {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-inner .product-logo .logo {
  opacity: 0;
}

.header .header-inner .product-logo a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 16px;
}

.header .header-inner .product-logo a img {
  padding: 8px 0;
  height: 60px;
  width: auto;
}

.header .header-inner .product-logo p > a {
  font-family: AmericanTypewriter, serif;
  color: #fff;
  font-size: 1.8rem;
  line-height: 60px;
}

.header .header-inner .ham {
  z-index: 10000;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 10px;
  right: 5%;
}

.header .header-inner .ham span {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 1px 1px 3px #fff;
          box-shadow: 1px 1px 3px #fff;
}

.header .header-inner .ham span:first-child {
  top: 5px;
}

.header .header-inner .ham span:nth-child(2) {
  top: 19px;
}

.header .header-inner .ham span:last-child {
  bottom: 5px;
}

.header .header-inner .clicked span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
}

.header .header-inner .clicked span:nth-child(2) {
  width: 0px;
}

.header .header-inner .clicked span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 16px;
}

.header .header-inner nav.header__nav-top {
  z-index: 100;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.9);
  width: 90%;
  height: 100vh;
  font-size: 2.2rem;
  opacity: 0;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

.header .header-inner nav.header__nav-top .balloon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0 0;
  margin-bottom: 32px;
}

.header .header-inner nav.header__nav-top .balloon .faceicon {
  width: 20%;
  position: relative;
  margin-right: 5px;
}

.header .header-inner nav.header__nav-top .balloon .faceicon h1 {
  font-size: 1.6rem;
  width: 80%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 65%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.header .header-inner nav.header__nav-top .balloon .chatting {
  width: 80%;
  padding: 1.6rem 1.6rem;
}

.header .header-inner nav.header__nav-top .balloon .chatting .says {
  max-width: 400px;
  border-radius: 1.2rem;
  background: #D5EEFF;
  position: relative;
}

.header .header-inner nav.header__nav-top .balloon .chatting .says p {
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  line-height: 1.4;
}

.header .header-inner nav.header__nav-top ul {
  padding: 0 2.4rem;
}

.header .header-inner nav.header__nav-top ul li {
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.header .header-inner nav.header__nav-top ul li a {
  color: #fff;
}

.header .header-inner nav.header__nav-top ul span {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.header .header-inner nav.header__nav-top.clicked {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 22222;
  }
  .header .header-inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-inner .product-logo {
    width: 400px;
  }
  .header .header-inner .product-logo p > a {
    font-size: 2.4rem;
  }
  .header .header-inner .ham {
    display: none;
  }
  .header .header-inner nav.header__nav-top {
    opacity: 1;
    height: 60px;
    -webkit-transform: translate(0);
            transform: translate(0);
    background-color: transparent;
    font-size: 1.6rem;
    position: static;
  }
  .header .header-inner nav.header__nav-top .balloon {
    display: none;
  }
  .header .header-inner nav.header__nav-top .gb-menu {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
  }
  .header .header-inner nav.header__nav-top .gb-menu li {
    height: 58px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 0;
  }
  .header .header-inner nav.header__nav-top .gb-menu li:hover {
    text-shadow: 0 2px 2px #bbb;
    background-color: rgba(192, 192, 192, 0.3);
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .header .header-inner nav.header__nav-top .gb-menu li a {
    display: inline-block;
    line-height: 60px;
    padding: 0 24px 0;
  }
  .header .header-inner nav.header__nav-top .gb-menu li a span {
    display: none;
  }
}

footer {
  padding: 4rem 0;
  background-color: #e3e3e3;
  color: #333;
  font-size: 1.6rem;
}

footer .footer-inner {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

footer .footer-inner .footer-items {
  display: none;
}

footer .footer-inner ul.footer-list li.footer-contents {
  padding: 0.5rem 0;
  margin-bottom: 2.4rem;
}

footer .footer-inner ul.footer-list li.footer-contents label p {
  font-weight: bold;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
}

footer .footer-inner ul.footer-list li.footer-contents label p::after {
  padding-bottom: 4px;
  content: '+';
  display: inline-block;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  position: absolute;
  right: 5%;
  top: -10px;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

footer .footer-inner ul.footer-list li.footer-contents input {
  display: none;
}

footer .footer-inner ul.footer-list li.footer-contents input:checked ~ ul.content-list li {
  height: 3.6rem;
  padding: 0.5rem;
}

footer .footer-inner ul.footer-list li.footer-contents input:checked ~ ul.content-list li a {
  opacity: 1;
  display: inline-block;
  width: 100%;
}

footer .footer-inner ul.footer-list li.footer-contents input:checked + label p::after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

footer .footer-inner ul.footer-list li.footer-contents ul.content-list li {
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

footer .footer-inner ul.footer-list li.footer-contents ul.content-list li a {
  opacity: 0;
  color: #333;
  -webkit-transition: .8s;
  transition: .8s;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  footer .footer-inner ul.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .footer-inner ul.footer-list li.footer-contents {
    width: 30%;
    margin-left: 20px;
  }
  footer .footer-inner ul.footer-list li.footer-contents label p {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
    cursor: auto;
  }
  footer .footer-inner ul.footer-list li.footer-contents label p::after {
    display: none;
  }
  footer .footer-inner ul.footer-list li.footer-contents ul.content-list li {
    height: auto;
    padding: 0.5rem;
  }
  footer .footer-inner ul.footer-list li.footer-contents ul.content-list li a {
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 1;
    position: relative;
  }
  footer .footer-inner ul.footer-list li.footer-contents ul.content-list li a::after {
    background-color: #333;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: .3s all;
    transition: .3s all;
    width: 0;
  }
  footer .footer-inner ul.footer-list li.footer-contents ul.content-list li a:hover::after {
    width: 50%;
  }
  footer .copyright {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-inner .footer-items {
    display: block;
  }
  footer .footer-inner div.footer-items {
    width: 40%;
  }
  footer .footer-inner div.footer-items .footer-icon {
    opacity: 0;
    width: 25%;
    padding-top: 30px;
    margin: 0 auto;
  }
  footer .footer-inner div.footer-items .footer-logo {
    width: 60%;
    margin: 0 auto 2.4rem;
  }
  footer .footer-inner ul.footer-list {
    width: 60%;
  }
  footer .footer-inner ul.footer-list li.footer-contents {
    width: 33%;
  }
  footer .footer-inner ul.footer-list li.footer-contents ul.content-list {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .fv {
    position: relative;
  }
}

.fv__pic {
  background-repeat: no-repeat;
  height: calc((100vh - 60px) / 3);
  background-size: cover;
}

.fv__pic--01 {
  background-image: url(../image/common/kv-sp01@2x.jpg);
}

@media screen and (min-width: 768px) {
  .fv__pic--01 {
    background-image: url(../image/common/kv-tab@2x.jpg);
    height: calc(100vh - 60px);
  }
}

@media screen and (min-width: 1200px) {
  .fv__pic--01 {
    background-image: url(../image/common/kv-pc@2x.jpg);
  }
}

.fv__pic--02 {
  background-image: url(../image/common/kv-sp02@2x.jpg);
  background-position: center;
}

@media screen and (min-width: 768px) {
  .fv__pic--02 {
    display: none;
  }
}

.fv__content-box {
  height: calc((100vh - 60px) / 3);
}

@media screen and (min-width: 768px) {
  .fv__content-box {
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .fv__content-box {
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: auto;
    right: 5%;
  }
}

.fv__content-box .fv-box {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .fv__content-box .fv-box {
    padding: 24px 40px;
  }
}

.fv__content-box .fv-box__title {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .fv__content-box .fv-box__title {
    text-align: left;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .fv__content-box .fv-box__title {
    font-size: 3.2rem;
  }
}

.fv__content-box .fv-box__text {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px) {
  .fv__content-box .fv-box__text {
    text-align: left;
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
  }
}

.fv__content-box .fv-box__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fv__content-box .fv-box__btn {
  width: 90%;
  margin: 0 auto;
  padding: 0.6em 0;
}

@media screen and (min-width: 400px) {
  .fv__content-box .fv-box__btn {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .fv__content-box .fv-box__btn {
    width: 300px;
    margin: 0 16px 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .fv__content-box .fv-box__btn {
    font-size: 2.2rem;
  }
}

.fv__content-box .fv-box__btn.btn--back {
  display: none;
}

@media screen and (min-width: 768px) {
  .fv__content-box .fv-box__btn.btn--back {
    display: block;
  }
}

.introduce {
  background-color: rgba(255, 254, 235, 0.6);
  padding-bottom: 120px;
}

.introduce__content {
  margin: 32px 0;
}

@media screen and (min-width: 768px) {
  .introduce__content {
    margin: 32px 0 80px;
  }
}

@media screen and (min-width: 1200px) {
  .introduce__content {
    margin: 32px 0 120px;
  }
}

.introduce__content .introduce-box {
  position: relative;
}

.introduce__content .introduce-box__text {
  font-weight: 600;
  width: 80%;
  margin-left: auto;
  line-height: 56px;
}

@media screen and (min-width: 768px) {
  .introduce__content .introduce-box__text {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .introduce__content .introduce-box__text {
    padding-top: 80px;
  }
}

.introduce__content .introduce-box__image {
  opacity: 0;
  width: 80%;
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 400px) {
  .introduce__content .introduce-box__image {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .introduce__content .introduce-box__image {
    top: 0;
    -webkit-transform: initial;
            transform: initial;
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .introduce__content .introduce-box__image {
    width: 40%;
    z-index: initial;
  }
}

.introduce__content:nth-of-type(even) .introduce-box__text {
  margin-left: 0;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .introduce__content:nth-of-type(even) .introduce-box__text {
    padding-top: 80px;
  }
}

.introduce__content:nth-of-type(even) .introduce-box__image {
  right: 0;
  top: 70%;
}

@media screen and (min-width: 768px) {
  .introduce__content:nth-of-type(even) .introduce-box__image {
    top: 30%;
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .introduce__content:nth-of-type(even) .introduce-box__image {
    width: 40%;
    z-index: initial;
  }
}

.part-of-item__list {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 400px) {
  .part-of-item__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .part-of-item__list {
    max-width: 700px;
  }
}

@media screen and (min-width: 1000px) {
  .part-of-item__list {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .part-of-item__list {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1920px) {
  .part-of-item__list {
    max-width: 1800px;
  }
}

.part-of-item__list .topitem-card {
  color: #707070;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 64px;
}

.part-of-item__list .topitem-card__title {
  height: 60px;
}

@media screen and (min-width: 400px) {
  .part-of-item__list .topitem-card {
    padding: 0 8px;
    margin: 0 0 64px;
  }
}

@media screen and (min-width: 1000px) {
  .part-of-item__list .topitem-card {
    padding: 0 16px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .part-of-item__list .topitem-card {
    width: auto;
  }
}

.part-of-item__list .topitem-card__image {
  margin-bottom: 12px;
}

.part-of-item__list .topitem-card__title {
  text-align: center;
  margin-bottom: 12px;
}

.part-of-item__list .topitem-card__price {
  width: 180px;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.part-of-item__list .topitem-card__btn {
  width: 90%;
  margin: 0 auto;
}

.part-of-item__btn {
  margin-bottom: 40px;
}

@media screen and (min-width: 400px) {
  .part-of-item__btn {
    width: 50%;
    margin: 0 auto 120px;
  }
}

@media screen and (min-width: 1000px) {
  .part-of-item__btn {
    width: 30%;
    margin: 0 auto 120px;
  }
}

.member__list .profile-card {
  margin-bottom: 64px;
}

@media screen and (min-width: 1000px) {
  .member__list .profile-card {
    margin-bottom: 125px;
  }
}

@media screen and (min-width: 768px) {
  .member__list .profile-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__contents {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .member__list .profile-card__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.member__list .profile-card__tab-image {
  z-index: 999;
  display: none;
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__tab-image {
    display: block;
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .member__list .profile-card__tab-image {
    display: none;
  }
}

.member__list .profile-card__pc-image {
  z-index: 999;
  display: none;
}

@media screen and (min-width: 1000px) {
  .member__list .profile-card__pc-image {
    display: block;
    width: 40%;
  }
}

.member__list .profile-card__position {
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__position {
    padding: 16px 56px;
  }
}

.member__list .profile-card__name {
  font-size: 3.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 3px solid #e3e3e3;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__name {
    padding-bottom: 32px;
    margin: 0 56px 28px;
  }
}

@media screen and (min-width: 1000px) {
  .member__list .profile-card__name {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .member__list .profile-card__name {
    font-size: 5.8rem;
  }
}

.member__list .profile-card__image {
  z-index: 999;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__image {
    display: none;
  }
}

.member__list .profile-card__text {
  z-index: 50;
  opacity: 0;
  line-height: 2.5;
  width: 100vw;
  padding: 32px 16px;
  background-color: #e3e3e3;
  margin: 0 calc(50% - 50vw) 32px;
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__text {
    width: auto;
    margin: 0 0 32px;
  }
}

@media screen and (min-width: 1000px) {
  .member__list .profile-card__text {
    padding: 32px 56px;
  }
}

.member__list .profile-card__btn {
  width: 75%;
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .member__list .profile-card__btn {
    margin: 0 0 0 auto;
  }
}

.strength .section-inner {
  max-width: 1000px;
}

.strength__list .strength-item {
  padding: 16px 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-bottom: 88px;
}

@media screen and (min-width: 768px) {
  .strength__list .strength-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
  }
}

.strength__list .strength-item__image {
  margin-bottom: 16px;
  width: 95%;
  margin: 0 auto;
}

.strength__list .strength-item__text {
  padding: 16px 0;
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .strength__list .strength-item__text {
    margin-left: 24px;
    padding: 0;
    font-size: 1.8rem;
  }
}

.parallax-window {
  min-height: 300px;
  width: 100%;
  background: transparent;
  margin: 200px 0 80px;
}

.parallax-slider {
  top: 0;
  left: 0;
}

.new {
  margin-bottom: 80px;
}

.new .section-inner {
  max-width: 1200px;
}

.new__list {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .new__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.new__list .new-item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .new__list .new-item {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .new__list .new-item {
    width: calc((100% - 32px) / 3);
  }
  .new__list .new-item:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .new__list .new-item:nth-of-type(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .new__list .new-item:nth-of-type(even) {
    margin-right: 16px;
  }
}

.new__list .new-item:last-child {
  margin-bottom: 0;
}

.new__list .new-item a .new-item__image {
  overflow: hidden;
}

.new__list .new-item a .new-item__image img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.new__list .new-item a .new-item__image img.scale {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.new__list .new-item a .new-item__label {
  line-height: 1.7;
  font-size: 1.2rem;
  padding: 1em 0;
}

.new__btns {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .new__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .new__btns .btn {
    width: 35%;
  }
}

.new__btns .btn--ok {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .new__btns .btn--ok {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

.products__list {
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .products__list {
    max-width: 900px;
  }
}

.products__list .product-card {
  margin-bottom: 180px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 166px auto auto 50px;
      grid-template-rows: 166px auto auto 50px;
  -ms-grid-columns: 166px 1fr;
      grid-template-columns: 166px 1fr;
}

@media screen and (min-width: 1000px) {
  .products__list .product-card {
    -ms-grid-rows: 80px 24px 130px 50px;
        grid-template-rows: 80px 24px 130px 50px;
    -ms-grid-columns: 400px 1fr;
        grid-template-columns: 400px 1fr;
  }
}

.products__list .product-card__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media screen and (min-width: 1000px) {
  .products__list .product-card__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.products__list .product-card__title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-size: 1.6rem;
  text-align: center;
  padding: 1em 0;
}

@media screen and (min-width: 1000px) {
  .products__list .product-card__title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    text-align: left;
    padding: 2em;
  }
}

.products__list .product-card__label {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 200px;
  margin: 0 auto 16px;
}

@media screen and (min-width: 1000px) {
  .products__list .product-card__label {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding: 0;
    margin: 0;
    margin-left: 2em;
  }
}

.products__list .product-card__text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 1.4rem;
  padding: 0.5em;
}

@media screen and (min-width: 1000px) {
  .products__list .product-card__text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding: 2em;
  }
}

.products__list .product-card__btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .products__list .product-card__btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    width: 60%;
  }
}

.detail__heading {
  font-size: 1.8rem;
  padding: 0;
  margin-bottom: 16px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .detail__heading {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1000px) {
  .detail__heading {
    font-size: 3.2rem;
  }
}

.detail .detail__box {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .detail .detail__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1000px) {
  .detail .detail__box {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .detail__image01 {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .detail .detail__right {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .detail .detail__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    font-size: 2.4rem;
  }
}

.detail__text01 {
  padding: 2em 1em 1em;
}

@media screen and (min-width: 768px) {
  .detail__text01 {
    padding: 2em 3em 1em;
  }
}

.detail__price {
  text-align: center;
  font-size: 2.4rem;
  color: #777;
  margin-bottom: 24px;
}

.detail__btn {
  margin-bottom: 120px;
}

@media screen and (min-width: 768px) {
  .detail__btn {
    width: 50%;
    margin: 0 auto;
  }
}

.detail .push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.detail .push .detail__text02 {
  width: 300px;
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  .detail .push .detail__text02 {
    padding: 2em;
    font-size: 2.4rem;
  }
}

.detail .push .detail__image02 {
  margin-left: auto;
}

.detail .push .detail__image02--pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .detail .push .detail__image02--pc {
    display: block;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .detail .push .detail__image02--sp {
    display: none;
  }
}

.detail-more {
  background-color: rgba(255, 254, 235, 0.6);
  padding-bottom: 120px;
}

.detail-more__title {
  font-size: 2rem;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .detail-more__title {
    font-weight: bold;
  }
}

.detail-more__label {
  max-width: 200px;
  width: 50%;
  padding: 0;
  margin: 0 auto 30px;
}

.detail-more__image {
  margin-bottom: 40px;
  max-width: 544px;
  margin: 0 auto 45px;
}

@media screen and (min-width: 768px) {
  .detail-more__image {
    margin-bottom: 60px;
  }
}

.detail-more__btn {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
}

.carousel {
  margin-bottom: 120px;
}

@media screen and (min-width: 768px) {
  .carousel {
    margin-bottom: 240px;
  }
}

.carousel .section-inner .swiper-custom-parent {
  position: relative;
}

.carousel .section-inner .swiper-custom-parent .swiper-container {
  width: 80%;
  height: auto;
}

.carousel .section-inner .swiper-custom-parent .swiper-container .swiper-slide {
  height: 20vh;
}

.carousel .section-inner .swiper-custom-parent .swiper-container .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  /* IE: not support */
  width: 100%;
  height: 100%;
}

.carousel .section-inner .swiper-custom-parent .swiper-button-prev {
  outline: none;
  position: absolute;
  left: 20px;
}

.carousel .section-inner .swiper-custom-parent .swiper-button-prev::after {
  font-size: 3.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  color: #978332;
}

.carousel .section-inner .swiper-custom-parent .swiper-button-next {
  outline: none;
  position: absolute;
  right: 20px;
}

.carousel .section-inner .swiper-custom-parent .swiper-button-next::after {
  font-size: 3.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  color: #978332;
}

.cart {
  color: #707070;
}

.cart__error {
  text-align: center;
  font-size: 2rem;
  padding: 10rem 0 20rem;
}

.cart__list {
  max-width: 400px;
  margin: 0 auto 16px;
}

@media screen and (min-width: 1000px) {
  .cart__list {
    max-width: 1200px;
  }
}

.cart__list .cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 166px 0.5fr 0.5fr;
      grid-template-rows: 166px 0.5fr 0.5fr;
  -ms-grid-columns: 166px 1fr;
      grid-template-columns: 166px 1fr;
  padding: 3.2rem 0;
  border-top: 1px solid #707070;
}

.cart__list .cart-item:last-child {
  border-bottom: 1px solid #707070;
}

@media screen and (min-width: 1000px) {
  .cart__list .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.cart__list .cart-item__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media screen and (min-width: 1000px) {
  .cart__list .cart-item__image {
    width: 20%;
  }
}

.cart__list .cart-item__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
}

@media screen and (min-width: 1000px) {
  .cart__list .cart-item__title {
    width: 35%;
    padding: 0.8rem 3rem 0.8rem 2rem;
  }
}

.cart__list .cart-item__kazu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .cart__list .cart-item__kazu {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart__list .cart-item__kazu input {
  width: 65px;
  height: 43px;
  padding-right: 1rem;
  margin-right: 10px;
  text-align: right;
}

.cart__list .cart-item__price {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
  padding-left: 1.6rem;
}

@media screen and (min-width: 1000px) {
  .cart__list .cart-item__price {
    width: 15%;
  }
}

.cart__list .cart-item__delete {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  min-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1000px) {
  .cart__list .cart-item__delete {
    width: 10%;
  }
}

.cart__list .cart-item__delete input {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  position: relative;
  top: -3px;
}

@media screen and (min-width: 1000px) {
  .cart__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.cart__sum {
  max-width: 400px;
  margin: 0 auto;
  text-align: right;
  font-size: 2.4rem;
  margin-bottom: 16px;
}

.cart__operation {
  font-size: 1.4rem;
  margin: 0 auto 80px;
}

@media screen and (min-width: 1000px) {
  .cart__operation {
    font-size: 2rem;
  }
}

.cart__btns {
  width: 90%;
  margin: 0 auto 117px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .cart__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .cart__btns .btn {
    width: 35%;
  }
}

.cart__btns .btn--ok {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .cart__btns .btn--ok {
    margin-bottom: 0;
    margin-left: 24px;
  }
}

.login-background {
  background-image: url(/assets/image/common/kv-sp02@2x.jpg);
  padding: 2.5rem 0 6.5rem;
  height: 600px;
  background-size: cover;
}

.login-background .login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4rem 2rem;
  max-width: 900px;
}

@media screen and (min-width: 768px) {
  .login-background .login-form {
    margin: 0 auto;
    padding: 4rem 8rem;
  }
}

.login-background .login-form__title {
  margin-bottom: 40px;
}

.login-background .login-form .input-box {
  margin-bottom: 40px;
}

.login-background .login-form__text {
  margin-bottom: 24px;
}

.login-background .login-form .submit input {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .login-background .login-form .submit input {
    width: 50%;
    margin: 0 auto;
  }
}

.form {
  color: #707070;
}

.form form {
  max-width: 800px;
  margin: 0 auto;
}

.form form .form-error {
  text-align: center;
  color: #ff4949;
  padding-bottom: 2rem;
}

.form form .form-title {
  font-weight: normal;
  text-align-last: left;
  font-size: 1.4rem;
  padding-left: 5%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-bottom: 40px;
}

@media screen and (min-width: 1000px) {
  .form form .form-title {
    margin-left: initial;
    margin-right: initial;
    font-size: 1.6rem;
    margin-bottom: 60px;
  }
}

.form form .input-box {
  margin-bottom: 48px;
  max-width: 600px;
}

@media screen and (min-width: 1000px) {
  .form form .input-box {
    margin: 0 auto 48px;
  }
}

.form form .input-box .postal1 {
  text-align: center;
  width: 60px;
  margin-right: 8px;
}

.form form .input-box .postal2 {
  text-align: center;
  margin-left: 4px;
  width: 80px;
}

@media screen and (min-width: 1000px) {
  .form form .radio-box {
    margin-bottom: 80px;
  }
}

.form form .radio-box p {
  font-size: 1.2rem;
}

.form__btns {
  width: 90%;
  margin: 0 auto 117px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (min-width: 1000px) {
  .form__btns {
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .form__btns .btn {
    width: 35%;
  }
}

.form__btns .btn--ok {
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .form__btns .btn--ok {
    width: 35%;
    margin-bottom: 0;
    margin-left: 24px;
  }
}

.form-check .user-check-list {
  max-width: 600px;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-check .user-check-list__title {
  width: 40%;
  padding: 2rem;
}

.form-check .user-check-list__data {
  width: 60%;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */